*{
	margin:0;
	padding:0;
}
.navbar-default{
	background-color:transparent;
	border-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fa8c07;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background: #B2070D;
    padding: 15px 56px;
	margin-top:10px;
	float:left;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #fa8c07;
    background-color: transparent;
}
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #87d37c;
    background-color: transparent;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 32px;
    margin-top: 64px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 2px solid #c05600;
    border-radius: 25px;
}
.dropdown-menu>li>a{
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.82857143;
    color: green;
	background-color: transparent;
	text-align:center;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: pink;
    text-decoration: none;
    background-color: transparent;
	text-align:center;
}
.marquee{
    line-height: 21px;
    margin: 6 3px 6px 14px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
    color: #dc100c;
}
.sidebar{
width:228px;
background:#C3DEB7;
float:right;
padding:13px;
margin:10px 0px 10px 10px; }

.sideberheader{}
.sideberheader h2{background:#9DBF47; color:white;padding:10px;margin-bottom:5px;border-bottom:2px solid #417649;text-align:center;}
.sideberheader p{padding:10px; margin-bottom:10px;line-height:20px;}
.image{
  float: left;
  color: #87d37c;
  width:33%;
  border:12px solid #fff;
  overflow:hidden;
}
.element-item {
  position: relative;
  float: left;
  color: #87d37c;
  width:33%;
  border:12px solid #fff;
  overflow:hidden;
}
.element-item img{
	width:100%;
}
.isotope-overlay{
	position:absolute;
	background:rgba(0,0,0,.4);
	width:100%;
	height:100%;
	top:-100%;
	transition:0.5s;
	
}
.element-item :hover .isotope-overlay{
	top:0;
}


.footer{height:30px;background:#b90505;}

.footer p{color:white;text-align:center;font-size:10px;padding-top:5px;}

